
<p> {{ _chipCode}}</p>
<p> {{ _email}}</p>
<h1>Button List</h1>
<div>    
    <table>
        <tr>
          <th>buttonId</th>
          <th>moduleId</th>
          <th>buttonName</th>
          <th style="text-align: center;">buttonState</th>
          <th>reading_time</th>
        </tr>
        <br/>
        <tr *ngFor="let x of module_button">
          <td>{{ x?.buttonId }}</td>
          <td>{{ x?.moduleId }}</td>
          <td>{{ x?.buttonName }}</td>
          <td>{{ x?.buttonState }}</td>
          <td>{{ x?.reading_time }}</td>
        </tr>
    </table>
  </div>
<br/>

<h1>Action</h1>
  <div>    
    <table>
        <tr>          
          <th>Button Name</th>
          <th>Communication</th>
          <th>Action</th>
          <th>Top</th>
          <th>Up</th>
          <th>Stop</th>
          <th>Down</th>
          <th>Bottom</th>
          <th>by</th>
          <th>reading_time</th>
          
        </tr>
        <br/>
        <tr *ngFor="let x of module_action">          
          <td>{{ x?.buttonName}}</td>
          <td>{{ x?.description}}</td>
          <td>{{ x?.actionDetail }}</td>
          <td>{{ x?.limitSwitchTopState }}</td>
          <td>{{ x?.buttonUpState }}</td>
          <td>{{ x?.buttonStopState }}</td>
          <td>{{ x?.buttonDownState }}</td>
          <td>{{ x?.limitSwitchBottomState }}</td>          
          <td>{{ x?.customerEmail }}</td>
          <td>{{ x?.reading_time }}</td>
        </tr>
    </table>
  </div>

<h1>Status</h1>
  <div>    
    <table>
        <tr>
          <th>moduleId</th>
          <th>temperature</th>
          <th>humidity</th>
          <th >isClosed</th>
          <th>reading_time</th>
        </tr>
        <br/>
        <tr *ngFor="let x of module_status">
          <td>{{ x?.moduleId }}</td>
          <td>{{ x?.temperature }}</td>
          <td>{{ x?.humidity }}</td>
          <td>{{ x?.isClosed }}</td>
          <td>{{ x?.reading_time }}</td>
        </tr>
    </table>
  </div>

